{% extends 'base.html' %}

{% block body %}
<!--<div class="container"><div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">-->
<!--    <div class="carousel-inner">-->
<!--      <div class="carousel-item active">-->
<!--          <img src="..." class="d-block w-100" alt="...">-->
<!--      </div>-->
<!--      <div class="carousel-item">-->
<!--        <img src="..." class="d-block w-100" alt="...">-->
<!--      </div>-->
<!--      <div class="carousel-item">-->
<!--        <img src="..." class="d-block w-100" alt="...">-->
<!--      </div>-->
<!--    </div>-->
<!--  </div></div>{% endblock body %}-->

