<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
<style>
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px 10px 900px;

  cursor: pointer;
  border-radius: 30px;


  right: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
</style>
    <link rel="stylesheet" href="{% static 'assets/css/teacher.css' %}" />
  </head>
  <body style="background-image: url({% static 'images/blackboard.jpg' %}); background-size: cover">
  <button onclick="javascript:history.go(-1);"><img src="https://img.icons8.com/wired/64/000000/back.png" ; width=15px/></button>
<br><br><br><br>

  <h2 style="padding-left: 500px; color: white; font-size: 35px">Question</h2>
<label style="vertical-align: middle; padding-left: 500px">
<textarea style="vertical-align: middle" placeholder="Add Your question" rows="20" name="comment[text]"
          id="question" cols="40" class="ui-autocomplete-input" autocomplete="off" role="textbox"
          aria-autocomplete="list" aria-haspopup="true" required></textarea></label>
  <br><br><br><br><br>
  <h2 style="padding-left: 500px; color: white; font-size: 35px">Model Answer</h2>

<label style="vertical-align: middle; padding-left: 500px">
<textarea style="vertical-align: middle" placeholder="Add Your answer" rows="50" name="comment[text]"
          id="answer" cols="40" class="ui-autocomplete-input" autocomplete="off" role="textbox"
          aria-autocomplete="list" aria-haspopup="true" required></textarea></label>


<br><br><br><br><br>
<a href="/"><button class="button">Submit</button></a>

  </body>
</html>
